

div.hdrwrap{
    background-color: #1E3E6D;
}
div.hdrwrap>div.hdr{
    width: 80%;
    max-width: 1080px;
    margin: auto;

    display: flex;
}
div.hdrwrap>div.hdr>h1{}
div.hdrwrap>div.hdr>ul.navbar{}
div.hdrwrap>div.hdr>ul.navbar>li{}
div.hdrwrap>div.hdr>button{}




div.megadropwrap{}
div.megadropwrap>div.megadrop{}
div.megadropwrap>div.megadrop>div.group{}
div.megadropwrap>div.megadrop>div.group>div.title{}
div.megadropwrap>div.megadrop>div.group>ul.menuwrap{}
div.megadropwrap>div.megadrop>div.group>ul.menuwrap>li{}
div.megadropwrap>div.megadrop>div.button{}