

div.hdrwrap{
    background-color: #1E3E6D;
}
div.hdrwrap>div.hdr{
    width: 80%;
    max-width: 1080px;
    margin: auto;

    display: flex;
    justify-content: space-between;

    color: white;
}
div.hdrwrap>div.hdr>h1{
    line-height: 80px;
}
div.hdrwrap>div.hdr>div.navright{
    width: calc(100% / 12 * 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
div.hdrwrap>div.hdr>div.navright>ul.navbar{
    width: calc(80%);
    display: flex;
    justify-content: space-between;
}
div.hdrwrap>div.hdr>div.navright>ul.navbar>li{
    line-height: 80px;
    position: relative;
    cursor: pointer;
}

div.hdrwrap>div.hdr>div.navright>ul.navbar>li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

div.hdrwrap>div.hdr>div.navright>ul.navbar>li:hover::after {
    width: 100%;
}
div.hdrwrap>div.hdr>div.navright>{}




div.megadropwrap{
    background-color: #142D52;
    display: none;
}
div.megadropwrap>div.megadrop{
    width: 80%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;

    padding: 40px 0;
}
div.megadropwrap>div.megadrop>div.group{
    width: calc(100% / 12 * 2);
    border-left: 1px solid #264573;
    padding-right: 20px;
}
div.megadropwrap>div.megadrop>div.group>div.title{
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 20px;
}
div.megadropwrap>div.megadrop>div.group>ul.menuwrap{
    margin-top: 30px;
    padding-left: 20px;
}
div.megadropwrap>div.megadrop>div.group>ul.menuwrap>li{
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
}
div.megadropwrap>div.megadrop>button{
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: #264573;
    color: white;
    cursor: pointer;
}