@import url('./all.min.css');
@import url('./reset.css');



/* headrwrap */
div.headrwrap{}
div.headrwrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.headrwrap>div.header>h1{
    width: calc(100% / 12 + 5px);
    text-transform: uppercase;
    line-height: 80px;
}
div.headrwrap>div.header>ul.nav{
    width: calc(100% / 12 * 4);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    line-height: 80px;
}
div.headrwrap>div.header>ul.nav>li{}
div.headrwrap>div.header>ul.nav>li>i{}


/* cntwrap 공통요소 */
div.cntwrap{}
div.cntwrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntwrap>div.content>div.header{}
div.cntwrap>div.content>div.header>h2{
    text-align: center;
    text-transform: capitalize;
    line-height: 80px;

}
div.cntwrap>div.content>div.header>p{
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}
div.cntwrap>div.content>div.section{
    margin-top: 80px;
}
div.cntwrap>div.content>div.section>div.article{}
div.cntwrap>div.content>div.section>div.article>div.image{
    background-color: gray;
}
div.cntwrap>div.content>div.section>div.article>div.texts{}
div.cntwrap>div.content>div.section>div.article>div.texts>h3{}
div.cntwrap>div.content>div.section>div.article>div.texts>h4{}
div.cntwrap>div.content>div.section>div.article>div.texts>p{}


/* Contents01 */
div.cntwrap>div.content.cnt01{}
div.cntwrap>div.content.cnt01>div.header{}
div.cntwrap>div.content.cnt01>div.header>h2{}
div.cntwrap>div.content.cnt01>div.header>p{}

div.cntwrap>div.content.cnt01>div.section{}
div.cntwrap>div.content.cnt01>div.section>div.arttop{
    display: flex;
    justify-content: space-between;
}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article{
    width: calc(50% - 10px);
    border: 1px solid red;
}

div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.image{
    height: calc(40px * 8);
    background-color: gray;
}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.image.i1{}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.image.i2{}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.text{
    padding-top: 20px;
    padding-left: calc(100% / 6 * 0.5);
    padding-right: calc(100% / 6 * 2);
}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.text>h3{}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.text>h4{}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.text>p{}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.text>div.icons{}
div.cntwrap>div.content.cnt01>div.section>div.arttop>div.article>div.text>div. icons>i{}

div.cntwrap>div.content.cnt01>div.section>div.artbottom{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.image.il{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.image.i2{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.image.i3{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.text{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.text>h3{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.text>p{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.text>div.icons{}
div.cntwrap>div.content.cnt01>div.section>div.artbottom>div.article>div.text>div.icons>i{}


/* Contents02 */
div.cntwrap>div.content.cnt02{
    width: 100%;
    max-width: none;
}
div.cntwrap>div.content.cnt02>div.header{
    background-color: #cccccc;
    padding-top: 160px;
    padding-bottom: 280px;
}
div.cntwrap>div.content.cnt02>div.header>h2{}
div.cntwrap>div.content.cnt02>div.header>p{
    width: calc(80% / 12 * 8);
    max-width: calc(1080px / 12 * 8);
    height: 40px;
    line-height: 20px;
    font-size: 15px;
}

div.cntwrap>div.content.cnt02>div.section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -200px;
}
div.cntwrap>div.content.cnt02>div.section>div.article{
    display: flex;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
div.cntwrap>div.content.cnt02>div.section>div.article>div.image{
    width: 50%;
}
div.cntwrap>div.content.cnt02>div.section>div.article>div.texts{
    width: 50%;
    padding-top: 80px;
    padding-left: calc(100% / 12);
    padding-bottom: 80px;
    padding-right: calc(100% / 12);

}
div.cntwrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntwrap>div.content.cnt02>div.section>div.article>div.texts>h4{}
div.cntwrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 100px;
    overflow: hidden;
    line-height: 20px;
}
div.cntwrap>div.content.cnt02>div.section>div.article>div.texts>div.buttons{}


/* Contents03 */
div.cntwrap>div.content.cnt03{}
div.cntwrap>div.content.cnt03>div.header{}
div.cntwrap>div.content.cnt03>div.header>h2{}
div.cntwrap>div.content.cnt03>div.header>p{}

div.cntwrap>div.content.cnt03>div.section{
    display: flex;
    justify-content: space-between;
}
div.cntwrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 4 - 10px);
    height: 240px;
    overflow: hidden;
}
div.cntwrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
}
div.cntwrap>div.content.cnt03>div.section>div.article>div.texts{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 240px;
    transition: margin-top 0.5s;

}

div.cntwrap>div.content.cnt03>div.section>div.article:hover>div.texts{
    margin-top: -240px;
}
div.cntwrap>div.content.cnt03>div.section>div.article>div.texts>h4{
    text-align: center;
}
div.cntwrap>div.content.cnt03>div.section>div.article>div.texts>p{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}


/* footerwrap */
div.footerwrap{}
div.footerwrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.footerwrap>div.footer>h2{}
div.footerwrap>div.footer>p{}
div.footerwrap>div.footer>div.sns{}
div.footerwrap>div.footer>div.sns>i{}