
/*headerwrap*/
div.headerwrap{
    background-color: orange;

}
div.headerwrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}
div.headerwrap>div.header>div.logo{
    line-height: 80px;
}
div.headerwrap>div.header>div.categorywrap{
    width: calc(100% / 12 * 6);
    display: flex;
    justify-content: space-between;
}
div.headerwrap>div.header>div.categorywrap>div.category{
    line-height: 80px;
}


/*Naviwrap*/
div.naviwrap{
    background-color: #282828;
    color: #F3F3F3;
}
div.naviwrap>div.navigation{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
div.naviwrap>div.navigation>div.nav{}
div.naviwrap>div.navigation>div.nav>div.title{
    font-size: 18px;
    line-height: 40px;
}
div.naviwrap>div.navigation>div.nav>div.menu{
    line-height: 40px;
}


/*Mainwrap*/
div.mainwrap{
    background-color: #F3F3F3;
}
div.mainwrap>div.image{}
div.mainwrap>div.textarea{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 120px 0;
}
div.mainwrap>div.textarea>div.logo{
    line-height: 80px;
    font-size: 40px;
}
div.mainwrap>div.textarea>div.textwrap{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
div.mainwrap>div.textarea>div.textwrap>div.text{
    width: calc(100% / 12 * 6);
    line-height: 40px;
    height: 120px;
    overflow: hidden;
}
div.mainwrap>div.textarea>div.textwrap>div.button{
    width: 40px;
    height: 40px;
    background-color: #FF7A7A ;
    border-radius: 40px;
}
div.mainwrap>div.textarea>div.button{
    background-color: #FE9901;
    width: calc(100% / 12 * 2 + 10px);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: #F3F3F3;
    margin-top: 40px;

}


/*Contentswrap cnt01wrap*/
div.contentswrap.cnt01wrap{}
div.contentswrap.cnt01wrap>div.contents.cnt01{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 120px 0;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.header{}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.header>div.title{
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.header>div.servetext{
    width: calc(100% / 12 * 6);
    height: 40px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    color: gray;
}

div.contentswrap.cnt01wrap>div.contents.cnt01>div.section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article{
    width: calc(100% / 12 * 3 - 20px);
    background-color: #f9f9f9;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.image{
    background-color: gray;
    height: 160px;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.textarea{
    padding: 10px 20px;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.textarea>div.title{
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.textarea>div.servetextwrap{}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.textarea>div.servetextwrap>div.servetext{
    line-height: 40px;
    font-size: 13px;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.textarea>div.sns{
    display: flex;
    justify-content: end;
}
div.contentswrap.cnt01wrap>div.contents.cnt01>div.section>div.article>div.textarea>div.sns>div.icon{
    height: 36px;
    width: 36px;
    background-color: black;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 20px;
}


/*Bannerwrap*/
div.bannerwrap{
    background-color: #3C3C3C;
}
div.bannerwrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;

}
div.bannerwrap>div.banner>div.image{
    background-color: #979797;
    width: 160px;
    height: 160px;
    border-radius: 160px;

}


/*Contentswrap cnt02wrap*/
div.contentswrap.cnt02wrap{}
div.contentswrap.cnt02wrap>div.contents.cnt02{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: ;
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.header{}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.header>div.title{
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.header>div.servetext{
    width: calc(100% / 12 * 6);
    height: 40px;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    color: gray;
}

div.contentswrap.cnt02wrap>div.contents.cnt02>div.section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artleft{
    width: calc(100% / 12 * 4);
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artleft>div.article{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artleft>div.article>div.image{
    width: 80px;
    height: 80px;
    background-color: gray;
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artleft>div.article>div.text{
    width: calc(100%);
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artleft>div.article>div.text>div.title{}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artleft>div.article>div.text>div.servetext{}


div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.image{
    width: calc(100% / 12 * 4);
    height: 400px;
    background-color: gray;
}


div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artright{
    width: calc(100% / 12 * 4);
}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artright>div.article{}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artright>div.article>div.text{}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artright>div.article>div.text>div.title{}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artright>div.article>div.text>div.servetext{}
div.contentswrap.cnt02wrap>div.contents.cnt02>div.section>div.article.artright>div.article>div.image{}


/*Footerwrap*/
div.footerwrap{}
div.footerwrap>div.footer{}
div.footerwrap>div.footer>div.logowrap{}
div.footerwrap>div.footer>div.logowrap>div.logo{}
div.footerwrap>div.footer>div.logowrap>div.navi{}
div.footerwrap>div.footer>div.logowrap>div.navi>div.menu{}

div.footerwrap>div.footer>div.sns{}
div.footerwrap>div.footer>div.sns>div.icon{}

div.footerwrap>div.footer>div.infowrap{}
div.footerwrap>div.footer>div.infowrap>div.info{}
div.footerwrap>div.footer>div.infowrap>div.cs{}z